* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "Circular-Std-Regular", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width:1200px;
}
@font-face {
	font-family: 'Circular-Std-Regular';
	src:url('../fonts/CircularStd-Regular.woff2') format('woff2');
	src:url('../fonts/CircularStd-Regular.woff') format('woff');
	font-style: normal;
}
@font-face {
    font-family: 'Circular-Std-Bold';
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    src: url("../fonts/CircularStd-Bold.woff") format("woff");
    font-style: normal
}
::placeholder {
  color:#D3CFCB;
}
body {
	background: url(../images/bg.png);
	background-size: 100% 100vh;
}
header {
	margin-top: 25px;
}
header section.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
header div.left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
header div.left h1 {

}
header div.left h1 a {
	display: block;
}
header div.left h1 a img {
	display: block;
	width: 100%;
}
header div.left ul {
	display: flex;
}
header div.left ul li {
	font-family: 'Circular-Std-Bold';
	margin-left: 50px;
}
header div.left ul li a {
	color: #DFDFDF;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
}
header div.left ul li a img {
	margin-left: 10px;
}
header div.right {

}
header div.right ul {
	display: flex;
}
header div.right ul li {
	font-family: 'Circular-Std-Bold';
	margin-right: 50px;
}
header div.right ul li:last-child {
	margin-right: 0px;
}
header div.right ul li a {
	color: #dfdfdf;
}
header div.right ul li a.button {
	padding: 12px 24px;
	background: #2dca73;
	border-radius: 4px;
}

#spotlight {
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
#spotlight h1 {
	font-family: 'Circular-Std-Regular';
	color: #ffff;
	font-size: 60px;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
}
#spotlight p {
	font-family: 'Circular-Std-Regular';
	color: #ffff;
	font-size: 21px;
	margin-bottom: 50px;
}
#spotlight form {
	padding: 20px 20px;
	background: #ffff;
	border-radius: 10px;
}
#spotlight form input[type="text"] {
	font-size: 18px;
	border: 2px solid #2dca73;
	border-radius: 4px;
	margin-right: 20px;
	padding: 5px 20px;
}
#spotlight form input[type="submit"] {
	border: 1px solid #2dca73;
	border-radius: 4px;
	background: #2dca73;
	color: #ffff;
	font-size: 18px;
	padding: 5px 20px;
}